html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

body{
font-size: 10px;	
font-family: sans-serif; 
color:white;
}

form{
background: rgb(80 ,152, 207);
display: flex;
margin: auto;
width:700px;
justify-content: space-between;
padding: 10px;

}

input, select, textarea{
background: transparent;
border: 2px solid white;
outline: none;
width: 190px;
color: white;

}

.group{
	display: flex;
	flex-direction: column;
}



input{
	padding:8px;
}


input:focus, textarea:focus, select:focus{
border:2px solid rgb(34,85,134);
}
label{
	margin-bottom: 5px;
	text-transform: uppercase;
}


textarea{

height: 80px;
}




